@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.container {
    height: 300px;
    width: 100%;

}
i{
    font-size: 48px;
    background-color: transparent !important;
}
#display {
    width: 100%;
    font-size: 48px;
    text-align: center;
    margin: 0px auto;
    font-family: 'Press Start 2P', cursive;
    color: rgb(31, 31, 31);
    

}
#screen{
    background: rgb(105,105,105);
    background: linear-gradient(337deg, rgba(105,105,105,1) 5%, rgba(203,203,203,1) 13%, rgba(153,153,153,1) 18%, rgba(164,164,164,1) 22%, rgba(164,164,164,1) 39%, rgba(180,179,179,1) 42%, rgba(111,111,111,1) 48%, rgba(125,125,125,1) 54%, rgba(105,105,105,1) 68%, rgba(125,125,125,1) 79%);
   padding: 20px;
   width: 50%;
   border: 10px solid rgb(38, 38, 38);
   margin: auto;
   border-radius:30px;

}

.buttons {
    text-align: center;
    padding: 1%;
    background-color: transparent;
}

.buttons:hover{
    transform: scale(1.1);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Russo One;
    font-weight: 300;
    background: linear-gradient(to left, #1ebe3387, #5961d48c);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

